# macOS cruft.
.DS_Store

# Dune build products.
_build/

# Merlin configuring file for Vim and Emacs.
.merlin

# Testing files.
*.out

# Node.
yarn.lock
package-lock.json
node_modules/
.cache/
*.log
*.install

# OCaml
*.cmo
*.cmi

# VSCode
.vscode/